<style>

ul.collapsible ul.collapsible {
    margin-top: 0;
    margin-bottom: 0;
}

ul.collapsible div.collapsible-body {
    padding: 0;
}
ul.collapsible div.row {
    margin-bottom: 0;
}

</style> 
 
<template lang="pug">
  div(class='row')
    div(class='col s12')
      ul(class='collapsible expandable')
        li
          div(class='collapsible-header')
            i(class='material-icons') place
            | Second
          div(class='collapsible-body')
            div(class='row')
              div(class='col s12')
                ul(class='collapsible expandable')
                  li
                    div(class='collapsible-header')
                      i(class='material-icons') filter_drama
                      | First
                    div(class='collapsible-body')
                  li
                    div(class='collapsible-header')
                      i(class='material-icons') place
                      | Second
                    div(class='collapsible-body hide')
                  li
                    div(class='collapsible-header')
                      i(class='material-icons') whatshot
                      | Third
                    div(class='collapsible-body')
        li
          div(class='collapsible-header')
            i(class='material-icons') place
            | Second
          div(class='collapsible-body')
        li
          div(class='collapsible-header')
            i(class='material-icons') whatshot
            | Third
          div(class='collapsible-body')
</template>
 
<script>
export default {
  data () {
    return {
      
    }
  },

  mounted() {

    let options = {
      accordion: false
    }
    
    let collapsible = document.querySelectorAll('.collapsible.expandable');
    console.log(collapsible);
    for(let element of collapsible) {
      M.Collapsible.init(element, options);
    }
    
  }

}
</script> 


