<style>

  /* .register-form {
    margin-bottom: 20px;
  } */

</style> 
 
<template lang='pug'>
  div(class='row' class='register-form')
    div(class='col s4 offset-s4')
      h4 register
    form(class='col s4 offset-s4')
      div(class='row')
        div(class='input-field col s12')
          input(id='register-email' type='email' class='validate')
          label(for='register-email') Email
      div(class='row')
        div(class='input-field col s12')
          input(id='register-username' type='text' class='validate')
          label(for='register-username') Username
      div(class='row')
        div(class='input-field col s12')
          input(id='register-password' type='password' class='validate')
          label(for='register-password') Password
      div(class='row')
        div(class='col s12 center-align')
          a(class='waves-effect waves-light btn' id='user-register' v-on:click='register') register
          a(class='waves-effect waves-light btn' id='cancel-register' v-on:click='cancel') cancel
</template>
 
<script>

let registerButton = undefined;
let cancelButton = undefined;

export default {
  data () {
    return {
      
    }
  },

  mounted: function() {
    registerButton = $('#user-register');
    cancelButton = $('#cancel-register');
  },

  methods: {
    register: (event) => {
      console.log('register clicked');

      let creds = {
        email: $("#register-email").val(),
        username: $('#register-username').val(),
        password: $("#register-password").val()
      };

      $.ajax({
        url: '/register', 
        type: 'POST', 
        contentType: 'application/json', 
        data: JSON.stringify(creds)}
      ).done(function (response) {
        console.log(response);
      });
    },
    cancel: (event) => {
      console.log('cancel clicked');
    }
  }

}
</script> 