<style>
</style> 
 
<template lang="pug">
  div(class='row')
    div(class='col s12') sandbox
      a(class="waves-effect waves-light btn" v-on:click='sendTestMessage') message
</template>
 
<script>

import { eb } from '../../../libs/eventBus.js';

export default {
  data () {
    return {
    }
  },
  mounted() {
  },
  methods: {
    sendTestMessage() {
      console.log('sending eb message');
      eb.$emit('test-message', { name: 'TestName' });
    } 
  }
}
</script> 


