// app.vue
<style>
.red {
  color: #ff0;
}
</style> 
 
<template lang="pug">

  div
  
    mainmenu
    
    div(class='container minheight')

      ul(id='login-form' class='sidenav')
        li
          nav
            div(class='nav-wrapper')
              form
                div(class='input-field')
                  input(type='search' required)
                  label(class='label-icon' for='search')
                    i(class='material-icons') search
        li
          div(class='row')
            form(class='col s12')
                div(class='row')
                  div(class='input-field col s12')
                    input(type="text" class='validate' id='email')
                    label(for='email') email
                div(class='row')
                  div(class='input-field col s12')
                    input(type="password" class='validate' id='password')
                    label(for='password') password
                div(class='row')
                  div(class='input-field col s12')
                    a(class='waves-effect waves-light btn' v-on:click='login') login

      ul(id='user-menu' class='sidenav')
        li
          nav
            div(class='nav-wrapper')
              form
                div(class='input-field')
                  input(type='search' required)
                  label(class='label-icon' for='search')
                    i(class='material-icons') search
        li
          div(class='user-view')
            div(class='background deep-orange darken-4')
            a(href='#!user')
              img(class='circle' src='assets/sprites/alien.png')
              a(href='#!name')
                span(class='white-text name') John Doe
              a(href='#!email')
                span(class='white-text email') jdandturk@gmail.com
        li
          router-link(to='/sandbox' class='waves-effect')
            i(class='material-icons') apps
            | sandbox
        li
          div(class='divider')
        li
          router-link(to='/bar' class='waves-effect')
            i(class='material-icons') group
            | manage your groups
        li
          router-link(to='/register' class='waves-effect')
            i(class='material-icons') work
            | define quests
        li
          a(href='#!' class='waves-effect')
            i(class='material-icons') cake
            | announce loot
        li
         a(href='#!' class='waves-effect')
           i(class='material-icons') create
           | create content
        li
          router-link(to='/files' class='waves-effect')
            i(class='material-icons') folder
            | browse your files
        li
          div(class='divider')
        li
          a(class='subheader') your account
        li
          a(href='#!' class='waves-effect')
            i(class='material-icons') portrait
            | your profile
        li
          a(href='#!' class='waves-effect' id='user-test-button')
            i(class='material-icons') account_box
            | manage your account
        li
          a(href='#!' class='waves-effect' v-on:click='disconnect(1000, "logout")')
            i(class='material-icons') exit_to_app
            | log out

      router-view
  
    sitefooter

</template>
 
<script>



import Mainmenu from './mainmenu.vue';
import Sitefooter from './sitefooter.vue';

import { eb} from '../../libs/eventBus.js';


let data ={
  user: null,
  wsState: undefined
}

export default {

  data() {
    return data;
  },

  watch: {
    	wsState: function(newState, oldState) {
        switch(newState) {
          case 'OPEN':
            this.triggerUserMenu();
            break;
          case 'ERROR':
            this.deleteToken();
            this.triggerLoginForm();
            break;
          case 'CLOSED':
            //this.deleteToken();
            this.triggerLoginForm();
            break;
        }
      }
  },

  components: {
    mainmenu: Mainmenu,
    sitefooter: Sitefooter
  },

  beforeCreate() {
  },

  created() {
    // register handler when window/tab gets closed
    window.addEventListener('beforeunload', this.leaving);

    // register eventbus handlers
    eb.$on('test-message', (message) => {
      console.log('recieved message');
    });

  },

  mounted() {
    // initialize sidenav
    let loginFormOptions = {
      edge: 'right'
    };
    let userMenuOptions = {
      edge: 'right'
    };
    let loginFormElement = document.getElementById('login-form');
    let userMenuElement = document.getElementById('user-menu');
    this.loginForm = M.Sidenav.init(loginFormElement, loginFormOptions);
    this.userMenu = M.Sidenav.init(userMenuElement, userMenuOptions);

    this.sideNavTrigger = $('#sidenav-trigger');

    let token = this.getToken();
    if (token) {
      // remove 'Bearer ' from token
      let jwt = token.split(" ")[1];
      // open the websocket connection
      this.socket = this.connect(jwt);
    } else {
      this.triggerLoginForm();
    }
  },

  methods: {

    // eventbus handlers
    testMessage(message) {
      console.log('message recieved');
      console.log(message);
    },

    getToken() {
      return localStorage.getItem("token");
    },

    deleteToken() {
      if(this.getToken()) {
        // delete token from local storage
        localStorage.removeItem("token");
      }
    },

    triggerLoginForm() {
      this.sideNavTrigger.attr('data-target', 'login-form');
      this.userMenu.close();
    },

    triggerUserMenu() {
      this.sideNavTrigger.attr('data-target', 'user-menu');
      this.loginForm.close();
    },

    connect(token) {
      let socket = new WebSocket("ws://localhost:3000", token);
      socket.onopen = (open) => {
        this.wsState = 'OPEN';
      };
      socket.onerror = (error) => {
        this.wsState = 'ERROR';
      };
      socket.onclose = (close) => {
        this.wsState = 'CLOSED';
      };
      return socket;
    },

    disconnect(code, reason) {
      if(this.socket) {
        // https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent#Status_codes
        // close websocket
        this.socket.close(code, reason);
      }
      this.deleteToken();
       M.toast({html: 'You are now logged out.'})
    },

    login(event) {
      let creds = {
        email: $("#email").val(),
        password: $("#password").val()
      };
      let self = this;
      $.ajax({
        url: "/auth",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(creds)
      }).done(function(response) {
        if (response.error) {
          console.log(response.error);
          M.toast({html: response.error});
        } else {
          let token = response.token;
          // store the token string in local storage
          localStorage.setItem("token", token);
          // remove 'Bearer ' from token
          let jwt = token.split(" ")[1];
          self.socket = self.connect(jwt);
          self.loginForm.close();
          M.toast({html: 'You are now logged in.'});
        }
      });
    },

    // handler when window/tab gets closed
    leaving() {
      if(this.socket) {
        // https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent#Status_codes
        // close websocket
        this.socket.close(1000, 'leaving app');
      }
    }

  },

  computed: {
    authenticated: () => {
    }
  }
};

</script>