<style>

</style> 
 
<template lang='pug'>
  nav
    div(class='container')
      div(class='nav-wrapper')
        router-link(to='/' class='brand-logo') learncraft
        ul(class='right')
          li
            a(href='#') About
          li
            a(href='#') Blog
          li
            a(href='#') Help
          li
            router-link(to='/register') Register
          li
            a(href='#' id='sidenav-trigger' class='sidenav-trigger')
              i(class='material-icons') menu
</template>
 
<script>
export default {
  data () {
    return {
      
    }
  },

  mounted: function() {

  },

  methods: {

  }

}
</script> 