<style>

</style> 
 
<template lang='pug'>
  footer(class='page-footer orange')
    div(class='container')
      div(class='row')
        div(class='col l6 s12')
          h5(class='white-text') About
          p(class='grey-text text-lighten-4') A small description about this Project.
        div(class='col l3 s12')
        div(class='col l3 s12')  
    div(class='footer-copyright')
      div(class='container') Visit this project on #[a(class='orange-text text-lighten-3' href='https://github.com/peddn/learncraft') github]
</template>
 
<script>
export default {
  data () {
    return {
      
    }
  },

  mounted: function() {

  },

  methods: {

  }

}
</script> 