doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title!= title
    include css.pug

  body
  <div id="app"></div>
  include scripts.pug

  if ENV_DEVELOPMENT
    script(src='http://localhost:35729/livereload.js')
