script(src='/jquery/jquery.min.js')
//script(src='/socket.io/socket.io.js')
//script(src='/vue/vue.min.js')
//script(src='/vue-router/vue-router.min.js')
script(src='/materialize-css/js/materialize.min.js')
script(src='/pixi.js/pixi.min.js')
script(src='/scripts/client.min.js')